# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Environment
.env
.env.*

# Virtual environment
venv/
.envrc

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# FAISS
index.faiss
